:root {
  --accentColor: #7531ff;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", system-ui, serif, "Courier New", Courier,
    monospace;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 75%;
  @media (max-width: 481px) {
    width: 100%;
  }
}

.p-inline-10 {
  padding-inline: 10px;
}

.container img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}
